{% extends 'auth/auth-base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content%}

      <form>

        <div class="form">

          <label for="email">Enter your Email:</label>

          {{ login_form.email(class='form-control') }}

          <br>

          <label for="password">Enter Password:</label>

          {{ login_form.password(class='form-control') }}

          <br>

          <label for="remember"> Remember me:</label>

          {{ login_form.remember() }}

          <br>

          {{ login_form.submit(class='btn btn-warning mt-4 pt-4') }}

          <br>
          <br>

          <p> Don't  have an account?  <a href="{{url_for('auth.register')}}">Sign up here</a></p>

        </div>

      </form>
{%endblock%}
