@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800&family=PT+Sans+Narrow:wght@400;700&display=swap');

body{
    font-family: 'Lexend Deca', sans-serif;
}

/* navigation bar */


#nav{
    padding-left: 5vw;
    padding-top: 5px;
    padding-bottom: 5px;
}


#logo{
    color: gold;
    transform: scale(1.2);
}

#btn1{
    text-decoration: none;
    color: black;
}

#btn1:hover{
    color: white;
}

/* index.html */

.hero{
    padding: 5vh 0;
}

.herobtns{
    margin-top: 7vh;
    margin-left: 2vw;
}

/* Categories */

.categories{
    display: flex;
    flex-direction: column;
}

.categories-row .card{
   margin: 5vh 0;
}

.btnn{
    transform: scale(1.3);
}

/* FORMS */

form{
  background-color: #343a40;
  padding: 5%;
}

label{
  color: white
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

footer{
    margin-top: 10vh;
    background-color: #343a40;
    color: white;
    padding: 10px 0;
}

/* PITCHES */

.cards{
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #343a40;
  padding: 1rem;
  border-radius: 5px;
  margin: 10px;
}



.tab-pane{
  overflow-x: hidden;
}

@media screen and (min-width: 1200px) {

    .nav-btns{
        margin-left: 50vw;
    }

    .nav1{
        margin-left: 2vw;
    }


}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    .nav-btns{
        margin-left: 42vw;
    }

    .img1{
        padding-top: 5vh;
    }

    .nav1{
        margin-left: 2vw;
    }


}



@media screen and (min-width: 765px) and (max-width: 992px) {

    .nav-btns{
        margin-left: 25vw;
    }

}

@media screen and (max-width: 992px) {

    .img1{
        padding-top: 5vh;
    }

}
