@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800&family=PT+Sans+Narrow:wght@400;700&display=swap');

body{
    font-family: 'Lexend Deca', sans-serif;
}
#nav{
    padding-left: 5vw;
}

#logo{
    color: gold;
}

@media screen and (min-width: 1200px) {

    .nav-btns{
        margin-left: 50vw;
    }
    
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    .nav-btns{
        margin-left: 40vw;
    }
    
}

