{% extends 'base.html' %}

{% block content %}

<div class="container categories">

   <div class="row categories-row">
    
        <div class="col-md-6">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="../static/images/pickup-lines.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title"><a href="/">Pickup lines</a></h4>
                  <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                  <a href="#" class="btn btn-warning">View all</a>
                </div>
              </div>
        </div>

        <div class="col-md-6">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="../static/images/pickup-lines.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">    
                      <a href="/">Interview Pitch</a>
                  </h4>
                  <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                  <a href="#" class="btn btn-warning">View all</a>
                </div>
              </div>
        </div>

       <div class="col-md-6">
        <div class="card" style="width:400px">
            <img class="card-img-top" src="../static/images/pickup-lines.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">
            <a href="/">Promotion Pitch</a>
              </h4>
              <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
              <a href="#" class="btn btn-warning">View all</a>
            </div>
          </div>
       </div>
       
       <div class="col-md-6">
        <div class="card" style="width:400px">
            <img class="card-img-top" src="../static/images/pickup-lines.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">
            <a href="/">Victory Pitch</a>
              </h4>
              <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
              <a href="#" class="btn btn-warning">View all</a>
            </div>
          </div>
       </div>
       
       <div class="col-md-6">
        <div class="card" style="width:400px">
            <img class="card-img-top" src="../static/images/pickup-lines.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">
            <a href="/">Birthday Pitch</a>
              </h4>
              <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
              <a href="#" class="btn btn-warning">View all</a>
            </div>
          </div>
       </div>
       
       <div class="col-md-6">
        <div class="card" style="width:400px">
            <img class="card-img-top" src="../static/images/pickup-lines.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">
            <a href="/">Motivation Pitch</a>
              </h4>
              <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
              <a href="#" class="btn btn-warning">View all</a>
            </div>
          </div>
       </div>
       
   </div>

</div>

{% endblock %}