{% extends 'base.html' %}

{% block title %}
BEST IMPRESSION PITCHES
{% endblock %}


{% block content %}

<div class="container hero">
    
            <div class="col-md-6">
                <h2>Welcome to the Pitch library</h2>
                <p class="m-5">In life, you only have 60 seconds to impress someone. 1 minute can make or break you. How do we make sure that you use your 1 minute to actually say something meaningful?</p>
                <strong>We introduce PITCHLIB where you can provide your impressions and get votes.Also view what others are coming up with.</strong>
                <div class="herobtns">
                    <div class="btn btn-warning btnn">Pitch Library</div>
                </div>
            </div>
            <div class="col-md-6 img1">
                <img class="img-responsive" src="../static/images/hero.jpg" alt="image">
            </div>
       
</div>

{% endblock %}