{% macro display(pitches) %}


    {% if pitches %}
    {% for pitch in pitches %}

        <div class="col-md-5 cards">

          <div class="card" style="width:400px">
              <div class="card-body">
                <h4 class="card-title">{{ pitch.category | upper }}</h4>
                <p class="card-text">{{ pitch.pitch }}</p>
                <strong class="text-info">uploaded on:</strong> <em> {{ pitch.time }}</em>
                <br>
                <br>
                <span>Posted by: {{ pitch.user.username }}</span>
                <br>
                <br>
  							<span> {{ pitch.comment.count() }} Comments</span>

  								<a href="{{url_for('category.comment',pitch_id = pitch.id)}}" class="btn btn-warning text-dark btn-sm"> Comment</a>
              </div>
            </div>

        </div>

    {% endfor %}
    {% endif %}


{% endmacro %}
